.hero-main{
    background-image: url('https://tesla-cdn.thron.com/delivery/public/image/tesla/ddc135ed-1638-40fb-8ab1-f8045059ecef/bvlatuR/std/4096x2560/Homepage-Model-X-Desktop-LHD');
    width: 100%;
    height: 90%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}